/*Google Font*/
@import
url(https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400,600&display=swap);

*{margin:0 ;
   padding:0 ;
    box-sizing: border-box;}

    /*body*/
    body{ font-family:'Bai Jamjuree', san-serif;
    text-align: center;
     color:hsi(210,10%,33%) ;}

     /*HERO BAZCKGROUND*/
    .hero{ background-image: url("images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-position:top center ;
    background-size: cover;
text-align: center;
padding: 80px 20px 60px 60px;

}

    .hero-container{max-width:730px ;
    margin: auto;
display: inline-flex;}
    
    .logo {width:125px ;
           margin-top:50;
        text-align:center;}

    h1 { font-size:18px ;
    font-weight: 600;
    margin-bottom: 20px;
     }
     .hero-text{font-size: 18px;
    
    color: hsl(201, 11%, 66%);
margin-bottom:.10px ;
line-height: 1.6;}

/*Button Style*/
.btn {text-decoration: none;
    padding:14px 35px ;
    border-radius:40px ;
    font-weight: 600;
    color: white;
    box-shadow:0 10px 20px rgba(0,0,0,0 44%) ;
    transition: 0.3s ease;
display:inline-block;
justify-content: center;
width: auto;
flex-direction: row;}

    /*ios button*/
    .btn-ios{ background-color:hsl(171, 66%, 44%) ;}

    /*Mac Button*/
    .btn-mac{background-color: hsl(233,100%,69%);}

    /*Hover Effect*/
    btn:hover{opacity:0.8 ;}

    .hero-text{max-width: 600px;
    margin: 0 auto 40px;
     line-break: 1.4}

     /*footer*/
      .footer{background-color: hsl(210, 17%, 95%);
    padding:40px 20 ;}

    .footer-content{ display: flex;
    justify-content: space-between;
align-items:center}

.footer-link{display: flex;
gap: 80px;}

.footer-links ul{list-style:none ;}

.footer-links ul{ text-decoration: none;
color: #4c545d;
display: block;
margin-bottom:10px ;
padding:0 ;
margin: 0;}

.footer-links a hover{color: hsl(171, 66%, 44%)}

.footer-social{display: flex;
gap:20px ;}

.footer-social img{width: 22px;
cursor:pointer ;}

@media(max-width:768px){.footer-content{flex-direction: column;text-align:center;
gap: 30px;}

.footer-links{flex-direction: column;
gap: 20px;}}
.footer-container{display: flex;
justify-content: space-between;
align-items: center;
max-width:1100px ;
margin: 0 auto;}





